*.[oa]
*.txt
*.swp
*.obj
*~
*.ccs
**/CVS
**/.settings
**/rrl
**/src/always99and88*
**/src/single*patient*
**/src/test_scale*
**/src/errorfree*
**/src/buchi-graph*
**/src/cutting*
**/Samples/*
**/Samples/!*.ccs
**/test
**/test_sample
**/Docs/*
**/Docs/!*.pdf
rccs
